{% extends 'base.html.twig' %}

{% block title %}Categorie{% endblock %}

{% block body %}

    <table class="table" border="1">
        <tbody>

            <tr>
                <th>Designation</th>
                <td>{{ categorie.designation }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ categorie.description }}</td>
            </tr>
        </tbody>
    </table>

    <hr>
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
             <a href="{{ path('categorie_index') }}"><span class="btn btn-primary"><i class="fa fa-backward"></i>&nbsp;&nbsp;Retour</span></a>&nbsp;
            </div>
            {% if (is_granted('ROLE_ADMIN') or is_granted('ROLE_USER')) %}
            {{ include('categorie/_delete_form.html.twig') }}
            {% endif %}

        </div>
    </div>

{% endblock %}
